.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0%;
    left: 50%;
    font-size: 1rem;
    transform:translateX(-50%) ;
    -webkit-transform:translateX(-50%) ;
    -moz-transform:translateX(-50%) ;
    -ms-transform:translateX(-50%) ;
    -o-transform:translateX(-50%) ;
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
:root{
    --main-color:hsl(179, 62%, 43%);
    --secondary-color: hsl(71, 73%, 54%);
}
body{
    font-family: "karla",sans-serif;
    font-size: 16px;
    background-color:hsl(204, 43%, 93%) ;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width:625px ;
    height: 467px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
@media (max-width:376px){
    .container{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        grid-template-rows: repeat(3 , 1fr );
    }
    .card{
        grid-column: 1/2;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 30px 25px ;
        white-space: wrap;
    }
    .card h4{
        text-align: center;
        margin-left: 20px;
    }
    .card p{
        text-align: center;
        margin-left: 70px;
        margin: 25px;
    }
}
.card{
    padding: 40px;
    background-color: var(--main-color);
    color:hsl(204, 43%, 93%) ;
}
.card:first-child{
    grid-column-start: 1 ;
    grid-column-end:3 ;
    background-color: white;
    color: hsl(218, 22%, 67%);
    border-radius: 10px 10px 0 0 ;
    -webkit-border-radius: 10px 10px 0 0 ;
    -moz-border-radius: 10px 10px 0 0 ;
    -ms-border-radius: 10px 10px 0 0 ;
    -o-border-radius: 10px 10px 0 0 ;
}
.card:first-child h3{
    color: var(--main-color);
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 40px;
}
.card:first-child h4{
    color: var(--secondary-color);
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 1.15rem;
}
.card:not(:first-child) h4{
    font-size: 19px;
    font-weight: 700;
}
.card:nth-child(2){
    border-radius: 0 0 0 10px  ;
    -webkit-border-radius: 0 0 0 10px  ;
    -moz-border-radius: 0 0 0 10px  ;
    -ms-border-radius: 0 0 0 10px  ;
    -o-border-radius: 0 0 0 10px  ;
}
.card:nth-child(2) h5{
    font-size: .8rem;
}
.card:nth-child(2) h5 span{
    font-size: 2rem;
}
.card:not(:first-child) p{
    font-size: 15px; ;

}
.card:last-child{
    border-radius: 0 0 10px 0;
    -webkit-border-radius: 0 0 10px 0;
    -moz-border-radius: 0 0 10px 0;
    -ms-border-radius: 0 0 10px 0;
    -o-border-radius: 0 0 10px 0;
    background-color:hsla(179, 62%, 43%, 0.819) ;
}
button{
    height: 50px;
    width: 235px;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-color: transparent;
    font-size: 1rem;
}


